:root[data-palette="blue-expressive"][data-theme="light"] {
  --md-sys-color-primary: rgb(59 105 49);
  --md-sys-color-surface-tint: rgb(59 105 49);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(187 241 170);
  --md-sys-color-on-primary-container: rgb(35 80 27);
  --md-sys-color-secondary: rgb(117 91 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 224 143);
  --md-sys-color-on-secondary-container: rgb(88 68 0);
  --md-sys-color-tertiary: rgb(82 92 139);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(221 225 255);
  --md-sys-color-on-tertiary-container: rgb(59 68 114);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(251 248 255);
  --md-sys-color-on-background: rgb(26 27 35);
  --md-sys-color-surface: rgb(251 248 255);
  --md-sys-color-on-surface: rgb(26 27 35);
  --md-sys-color-surface-variant: rgb(225 225 243);
  --md-sys-color-on-surface-variant: rgb(68 70 84);
  --md-sys-color-outline: rgb(117 118 133);
  --md-sys-color-outline-variant: rgb(197 197 214);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 48 56);
  --md-sys-color-inverse-on-surface: rgb(241 239 250);
  --md-sys-color-inverse-primary: rgb(160 212 144);
  --md-sys-color-primary-fixed: rgb(187 241 170);
  --md-sys-color-on-primary-fixed: rgb(0 34 0);
  --md-sys-color-primary-fixed-dim: rgb(160 212 144);
  --md-sys-color-on-primary-fixed-variant: rgb(35 80 27);
  --md-sys-color-secondary-fixed: rgb(255 224 143);
  --md-sys-color-on-secondary-fixed: rgb(36 26 0);
  --md-sys-color-secondary-fixed-dim: rgb(238 193 60);
  --md-sys-color-on-secondary-fixed-variant: rgb(88 68 0);
  --md-sys-color-tertiary-fixed: rgb(221 225 255);
  --md-sys-color-on-tertiary-fixed: rgb(13 23 68);
  --md-sys-color-tertiary-fixed-dim: rgb(187 196 250);
  --md-sys-color-on-tertiary-fixed-variant: rgb(59 68 114);
  --md-sys-color-surface-dim: rgb(218 217 228);
  --md-sys-color-surface-bright: rgb(251 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 242 253);
  --md-sys-color-surface-container: rgb(238 237 248);
  --md-sys-color-surface-container-high: rgb(232 231 242);
  --md-sys-color-surface-container-highest: rgb(227 225 236);
}
