:root[data-theme="light"][data-contrast="medium"] {
  --md-sys-color-primary: rgb(56 56 0);
  --md-sys-color-surface-tint: rgb(97 98 11);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(112 113 27);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(104 26 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(193 66 20);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(1 57 90);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(71 113 149);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(247 249 255);
  --md-sys-color-on-background: rgb(23 28 34);
  --md-sys-color-surface: rgb(247 249 255);
  --md-sys-color-on-surface: rgb(12 18 23);
  --md-sys-color-surface-variant: rgb(217 227 240);
  --md-sys-color-on-surface-variant: rgb(45 55 65);
  --md-sys-color-outline: rgb(74 83 94);
  --md-sys-color-outline-variant: rgb(100 110 121);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 49 55);
  --md-sys-color-inverse-on-surface: rgb(236 241 249);
  --md-sys-color-inverse-primary: rgb(203 203 109);
  --md-sys-color-primary-fixed: rgb(112 113 27);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(87 88 0);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(193 66 20);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(157 44 0);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(71 113 149);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(45 88 123);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(194 199 207);
  --md-sys-color-surface-bright: rgb(247 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 244 252);
  --md-sys-color-surface-container: rgb(228 232 240);
  --md-sys-color-surface-container-high: rgb(216 221 229);
  --md-sys-color-surface-container-highest: rgb(205 210 218);
}
