:root[data-theme="dark"][data-contrast="medium"] {
  --md-sys-color-primary: rgb(213 218 255);
  --md-sys-color-surface-tint: rgb(183 196 255);
  --md-sys-color-on-primary: rgb(19 33 85);
  --md-sys-color-primary-container: rgb(129 142 200);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 216 111);
  --md-sys-color-on-secondary: rgb(48 36 0);
  --md-sys-color-secondary-container: rgb(178 140 0);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(251 208 240);
  --md-sys-color-on-tertiary: rgb(55 28 52);
  --md-sys-color-tertiary-container: rgb(171 133 162);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(227 225 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 70 79);
  --md-sys-color-on-surface-variant: rgb(220 219 230);
  --md-sys-color-outline: rgb(177 177 187);
  --md-sys-color-outline-variant: rgb(143 143 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 225 233);
  --md-sys-color-inverse-on-surface: rgb(41 42 47);
  --md-sys-color-inverse-primary: rgb(56 69 122);
  --md-sys-color-primary-fixed: rgb(221 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 12 59);
  --md-sys-color-primary-fixed-dim: rgb(183 196 255);
  --md-sys-color-on-primary-fixed-variant: rgb(37 51 103);
  --md-sys-color-secondary-fixed: rgb(255 224 143);
  --md-sys-color-on-secondary-fixed: rgb(24 16 0);
  --md-sys-color-secondary-fixed-dim: rgb(245 200 66);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 52 0);
  --md-sys-color-tertiary-fixed: rgb(255 215 244);
  --md-sys-color-on-tertiary-fixed: rgb(32 7 30);
  --md-sys-color-tertiary-fixed-dim: rgb(228 186 217);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 44 69);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(68 68 74);
  --md-sys-color-surface-container-lowest: rgb(6 7 12);
  --md-sys-color-surface-container-low: rgb(28 29 35);
  --md-sys-color-surface-container: rgb(39 39 45);
  --md-sys-color-surface-container-high: rgb(50 50 56);
  --md-sys-color-surface-container-highest: rgb(61 61 67);
}
