:root[data-theme="light"][data-contrast="medium"] {
  --md-sys-color-primary: rgb(0 63 31);
  --md-sys-color-surface-tint: rgb(36 107 64);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(53 122 78);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(68 52 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(134 105 0);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(57 47 94);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(113 102 153);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(28 27 34);
  --md-sys-color-surface: rgb(252 248 255);
  --md-sys-color-on-surface: rgb(17 16 24);
  --md-sys-color-surface-variant: rgb(229 224 242);
  --md-sys-color-on-surface-variant: rgb(54 53 66);
  --md-sys-color-outline: rgb(83 81 96);
  --md-sys-color-outline-variant: rgb(110 107 123);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 47 56);
  --md-sys-color-inverse-on-surface: rgb(243 239 250);
  --md-sys-color-inverse-primary: rgb(143 214 162);
  --md-sys-color-primary-fixed: rgb(53 122 78);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(24 97 55);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(134 105 0);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(245 200 66);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(113 102 153);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(88 78 127);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(201 197 208);
  --md-sys-color-surface-bright: rgb(252 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 242 253);
  --md-sys-color-surface-container: rgb(235 230 242);
  --md-sys-color-surface-container-high: rgb(223 219 230);
  --md-sys-color-surface-container-highest: rgb(212 208 219);
}
