:root[data-palette="indigo-mtb"][data-theme="dark"] {
  --md-sys-color-primary: rgb(184 196 255);
  --md-sys-color-surface-tint: rgb(184 196 255);
  --md-sys-color-on-primary: rgb(31 45 97);
  --md-sys-color-primary-container: rgb(54 67 121);
  --md-sys-color-on-primary-container: rgb(221 225 255);
  --md-sys-color-secondary: rgb(247 188 112);
  --md-sys-color-on-secondary: rgb(70 42 0);
  --md-sys-color-secondary-container: rgb(100 63 0);
  --md-sys-color-on-secondary-container: rgb(255 221 183);
  --md-sys-color-tertiary: rgb(142 213 176);
  --md-sys-color-on-tertiary: rgb(0 56 36);
  --md-sys-color-tertiary-container: rgb(0 82 54);
  --md-sys-color-on-tertiary-container: rgb(170 242 204);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(227 225 233);
  --md-sys-color-surface: rgb(20 20 12);
  --md-sys-color-on-surface: rgb(230 226 213);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(196 198 207);
  --md-sys-color-outline: rgb(141 145 153);
  --md-sys-color-outline-variant: rgb(67 71 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 226 213);
  --md-sys-color-inverse-on-surface: rgb(50 49 40);
  --md-sys-color-inverse-primary: rgb(78 91 146);
  --md-sys-color-primary-fixed: rgb(221 225 255);
  --md-sys-color-on-primary-fixed: rgb(6 22 75);
  --md-sys-color-primary-fixed-dim: rgb(184 196 255);
  --md-sys-color-on-primary-fixed-variant: rgb(54 67 121);
  --md-sys-color-secondary-fixed: rgb(255 221 183);
  --md-sys-color-on-secondary-fixed: rgb(42 24 0);
  --md-sys-color-secondary-fixed-dim: rgb(247 188 112);
  --md-sys-color-on-secondary-fixed-variant: rgb(100 63 0);
  --md-sys-color-tertiary-fixed: rgb(170 242 204);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 19);
  --md-sys-color-tertiary-fixed-dim: rgb(142 213 176);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 82 54);
  --md-sys-color-surface-dim: rgb(20 20 12);
  --md-sys-color-surface-bright: rgb(58 57 48);
  --md-sys-color-surface-container-lowest: rgb(15 14 7);
  --md-sys-color-surface-container-low: rgb(28 28 20);
  --md-sys-color-surface-container: rgb(33 32 24);
  --md-sys-color-surface-container-high: rgb(43 42 34);
  --md-sys-color-surface-container-highest: rgb(54 53 44);
}
