:root[data-palette="scheme-c-tonal-spot"][data-theme="light"] {
  --md-sys-color-primary: rgb(0 106 102);
  --md-sys-color-surface-tint: rgb(0 106 102);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(156 241 236);
  --md-sys-color-on-primary-container: rgb(0 80 77);
  --md-sys-color-secondary: rgb(173 51 3);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 219 208);
  --md-sys-color-on-secondary-container: rgb(133 36 0);
  --md-sys-color-tertiary: rgb(73 96 123);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(209 228 255);
  --md-sys-color-on-tertiary-container: rgb(49 72 98);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(244 251 249);
  --md-sys-color-on-background: rgb(22 29 28);
  --md-sys-color-surface: rgb(244 251 249);
  --md-sys-color-on-surface: rgb(22 29 28);
  --md-sys-color-surface-variant: rgb(218 229 227);
  --md-sys-color-on-surface-variant: rgb(63 73 72);
  --md-sys-color-outline: rgb(111 121 120);
  --md-sys-color-outline-variant: rgb(190 201 199);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 50 49);
  --md-sys-color-inverse-on-surface: rgb(236 242 241);
  --md-sys-color-inverse-primary: rgb(128 213 208);
  --md-sys-color-primary-fixed: rgb(156 241 236);
  --md-sys-color-on-primary-fixed: rgb(0 32 31);
  --md-sys-color-primary-fixed-dim: rgb(128 213 208);
  --md-sys-color-on-primary-fixed-variant: rgb(0 80 77);
  --md-sys-color-secondary-fixed: rgb(255 219 208);
  --md-sys-color-on-secondary-fixed: rgb(58 11 0);
  --md-sys-color-secondary-fixed-dim: rgb(232 93 47);
  --md-sys-color-on-secondary-fixed-variant: rgb(133 36 0);
  --md-sys-color-tertiary-fixed: rgb(209 228 255);
  --md-sys-color-on-tertiary-fixed: rgb(1 29 53);
  --md-sys-color-tertiary-fixed-dim: rgb(177 201 232);
  --md-sys-color-on-tertiary-fixed-variant: rgb(49 72 98);
  --md-sys-color-surface-dim: rgb(213 219 218);
  --md-sys-color-surface-bright: rgb(244 251 249);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 243);
  --md-sys-color-surface-container: rgb(233 239 238);
  --md-sys-color-surface-container-high: rgb(227 233 232);
  --md-sys-color-surface-container-highest: rgb(221 228 226);
}
