:root[data-theme="dark"][data-contrast="high"] {
  --md-sys-color-primary: rgb(238 239 255);
  --md-sys-color-surface-tint: rgb(183 196 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(178 192 255);
  --md-sys-color-on-primary-container: rgb(0 7 45);
  --md-sys-color-secondary: rgb(255 238 203);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(233 189 56);
  --md-sys-color-on-secondary-container: rgb(16 10 0);
  --md-sys-color-tertiary: rgb(247 236 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(209 184 240);
  --md-sys-color-on-tertiary-container: rgb(19 0 46);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(17 19 28);
  --md-sys-color-on-background: rgb(225 225 239);
  --md-sys-color-surface: rgb(17 19 28);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 70 84);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(238 239 255);
  --md-sys-color-outline-variant: rgb(192 193 210);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 225 239);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 56 187);
  --md-sys-color-primary-fixed: rgb(221 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(183 196 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 12 59);
  --md-sys-color-secondary-fixed: rgb(255 224 143);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(245 200 66);
  --md-sys-color-on-secondary-fixed-variant: rgb(24 16 0);
  --md-sys-color-tertiary-fixed: rgb(237 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(212 188 244);
  --md-sys-color-on-tertiary-fixed-variant: rgb(25 5 52);
  --md-sys-color-surface-dim: rgb(17 19 28);
  --md-sys-color-surface-bright: rgb(78 79 91);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(29 31 41);
  --md-sys-color-surface-container: rgb(46 48 58);
  --md-sys-color-surface-container-high: rgb(57 59 70);
  --md-sys-color-surface-container-highest: rgb(69 70 81);
}
