:root[data-theme="light"][data-contrast="medium"] {
  --md-sys-color-primary: rgb(0 42 145);
  --md-sys-color-surface-tint: rgb(0 75 240);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(39 92 255);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(68 52 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(134 105 0);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(64 45 91);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(120 100 150);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(251 248 255);
  --md-sys-color-on-background: rgb(25 27 37);
  --md-sys-color-surface: rgb(251 248 255);
  --md-sys-color-on-surface: rgb(15 17 26);
  --md-sys-color-surface-variant: rgb(224 225 243);
  --md-sys-color-on-surface-variant: rgb(51 53 67);
  --md-sys-color-outline: rgb(79 82 96);
  --md-sys-color-outline-variant: rgb(106 108 123);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 48 58);
  --md-sys-color-inverse-on-surface: rgb(240 239 254);
  --md-sys-color-inverse-primary: rgb(183 196 255);
  --md-sys-color-primary-fixed: rgb(39 92 255);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 67 217);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(134 105 0);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(245 200 66);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(120 100 150);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(95 76 124);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(197 197 211);
  --md-sys-color-surface-bright: rgb(251 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 242 255);
  --md-sys-color-surface-container: rgb(231 231 245);
  --md-sys-color-surface-container-high: rgb(220 220 234);
  --md-sys-color-surface-container-highest: rgb(208 208 222);
}
