:root[data-palette="blue-vibrant"][data-theme="light"] {
  --md-sys-color-primary: rgb(0 93 182);
  --md-sys-color-surface-tint: rgb(0 93 182);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(214 227 255);
  --md-sys-color-on-primary-container: rgb(0 70 139);
  --md-sys-color-secondary: rgb(117 91 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 224 143);
  --md-sys-color-on-secondary-container: rgb(88 68 0);
  --md-sys-color-tertiary: rgb(95 88 138);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(229 222 255);
  --md-sys-color-on-tertiary-container: rgb(71 64 112);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(249 249 255);
  --md-sys-color-on-background: rgb(23 28 36);
  --md-sys-color-surface: rgb(249 249 255);
  --md-sys-color-on-surface: rgb(23 28 36);
  --md-sys-color-surface-variant: rgb(221 226 242);
  --md-sys-color-on-surface-variant: rgb(65 71 83);
  --md-sys-color-outline: rgb(113 119 133);
  --md-sys-color-outline-variant: rgb(193 198 214);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 48 58);
  --md-sys-color-inverse-on-surface: rgb(237 240 253);
  --md-sys-color-inverse-primary: rgb(169 199 255);
  --md-sys-color-primary-fixed: rgb(214 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 27 61);
  --md-sys-color-primary-fixed-dim: rgb(169 199 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 70 139);
  --md-sys-color-secondary-fixed: rgb(255 224 143);
  --md-sys-color-on-secondary-fixed: rgb(36 26 0);
  --md-sys-color-secondary-fixed-dim: rgb(238 193 60);
  --md-sys-color-on-secondary-fixed-variant: rgb(88 68 0);
  --md-sys-color-tertiary-fixed: rgb(229 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(27 20 66);
  --md-sys-color-tertiary-fixed-dim: rgb(200 192 248);
  --md-sys-color-on-tertiary-fixed-variant: rgb(71 64 112);
  --md-sys-color-surface-dim: rgb(214 218 230);
  --md-sys-color-surface-bright: rgb(249 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 243 255);
  --md-sys-color-surface-container: rgb(234 238 250);
  --md-sys-color-surface-container-high: rgb(228 232 245);
  --md-sys-color-surface-container-highest: rgb(222 226 239);
}
