:root[data-theme="light"][data-contrast="medium"] {
  --md-sys-color-primary: rgb(0 53 109);
  --md-sys-color-surface-tint: rgb(0 93 182);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 108 209);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(68 52 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(134 105 0);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(54 48 95);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(110 103 153);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(249 249 255);
  --md-sys-color-on-background: rgb(23 28 36);
  --md-sys-color-surface: rgb(249 249 255);
  --md-sys-color-on-surface: rgb(13 17 26);
  --md-sys-color-surface-variant: rgb(221 226 242);
  --md-sys-color-on-surface-variant: rgb(48 54 66);
  --md-sys-color-outline: rgb(77 83 95);
  --md-sys-color-outline-variant: rgb(103 109 123);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 48 58);
  --md-sys-color-inverse-on-surface: rgb(237 240 253);
  --md-sys-color-inverse-primary: rgb(169 199 255);
  --md-sys-color-primary-fixed: rgb(0 108 209);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 84 165);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(134 105 0);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(105 82 0);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(110 103 153);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(85 79 127);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(194 198 210);
  --md-sys-color-surface-bright: rgb(249 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 243 255);
  --md-sys-color-surface-container: rgb(228 232 245);
  --md-sys-color-surface-container-high: rgb(217 221 233);
  --md-sys-color-surface-container-highest: rgb(206 209 222);
}
